<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="io.mapzone.controller.UmLoginModule"
         point="org.eclipse.equinox.security.loginModule">
      <loginModule
            class="io.mapzone.controller.um.xauth.UmLoginModule">
      </loginModule>
   </extension>
   <extension
         point="org.eclipse.equinox.security.callbackHandlerMapping">
      <callbackHandlerMapping
            callbackHandlerId="io.mapzone.controller.UmLoginModule"
            configName="Services">
      </callbackHandlerMapping>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/projects"
            class="io.mapzone.controller.vm.http.ProxyServlet"
            load-on-startup="true">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            brandingId="io.mapzone.controller.branding"
            class="org.polymap.rhei.batik.BatikApplication"
            id="io.mapzone.controller.entrypoint"
            path="/dashboard">
      </entrypoint>
      <entrypoint
            brandingId="io.mapzone.controller.branding"
            class="org.polymap.rhei.batik.BatikApplication"
            id="io.mapzone.controller.entrypoint"
            path="/login">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            body="resources/html/body.html"
            favicon="resources/icons/chevron-right.ico"
            id="io.mapzone.controller.branding"
            themeId="org.polymap.rhei.batik.materialDesign"
            title="mapzone">
         <additionalHeaders>
            <link
                  href="batikres/css/roboto.css"
                  rel="stylesheet">
            </link>
            <link
                  href="batikres/css/md/flowtext.css"
                  rel="stylesheet">
            </link>
            <meta
                  content="%description"
                  name="description">
            </meta>
            <meta
                  content="%keywords"
                  name="keywords">
            </meta>
         </additionalHeaders>
      </branding>
   </extension>
   <extension
         point="org.polymap.rhei.batik.design">
      <design
            class="io.mapzone.controller.CtrlAppDesign"
            id="io.mapzone.controller.design"
            servletNameMatcher="/dashboard">
      </design>
   </extension>
   <extension
         point="org.polymap.rhei.batik.design">
      <design
            class="io.mapzone.controller.LoginAppDesign"
            id="io.mapzone.controller.logindesign"
            servletNameMatcher="/login">
      </design>
   </extension>
   <extension
         point="org.polymap.rhei.batik.panels">
      <panel
            class="io.mapzone.controller.ui.DashboardPanel"
            id="io.mapzone.controller.DashboardPanel">
      </panel>
      <panel
            class="io.mapzone.controller.ui.admin.AdminDashboardPanel"
            id="io.mapzone.controller.AdminDashboardPanel"
            stackPriority="-200">
      </panel>
      <panel
            class="io.mapzone.controller.ui.StartPanel"
            id="io.mapzone.controller.StartPanel">
      </panel>
      <panel
            class="io.mapzone.controller.ui.user.RegisterPanel"
            id="io.mapzone.controller.RegisterPanel">
      </panel>
      <panel
            class="io.mapzone.controller.ui.project.CreateProjectPanel"
            id="io.mapzone.controller.CreateProjectPanel">
      </panel>
      <panel
            class="io.mapzone.controller.ui.project.ProjectInfoPanel"
            id="io.mapzone.controller.EditProjectPanel">
      </panel>
      <panel
            class="io.mapzone.controller.ui.user.UserInfoPanel"
            id="io.mapzone.controller.EditUserPanel">
      </panel>
      <panel
            class="io.mapzone.controller.ui.user.LoginPanel"
            id="io.mapzone.controller.LoginPanel">
      </panel>
      <panel
            class="io.mapzone.controller.ui.CtrlHelpPanel"
            id="io.mapzone.controller.CtrlHelpPanel"
            stackPriority="-1000">
      </panel>
      <panel
            class="io.mapzone.controller.ui.MyLabPanel"
            id="io.mapzone.controller.PluginCatalogPanel"
            stackPriority="-100">
      </panel>
      <panel
            class="io.mapzone.controller.plugincat.PluginInfoPanel"
            id="io.mapzone.controller.PluginInfoPanel">
      </panel>
      <panel
            class="io.mapzone.controller.plugincat.PluginInfoPanel2"
            id="io.mapzone.controller.PluginInfoPanel2">
      </panel>
   </extension>
   <extension
         point="org.polymap.rhei.batik.contributions">
      <contributions
            class="io.mapzone.controller.ui.CmsHelpContribution"
            id="io.mapzone.controller.CmsHelpContribution">
      </contributions>
      <contributions
            class="io.mapzone.controller.ui.EMailHelpContribution"
            id="io.mapzone.controller.EMailHelpDashlet">
      </contributions>
      <contributions
            class="io.mapzone.controller.ui.admin.AdminPluginDashlet"
            id="io.mapzone.controller.AdminPluginContrib">
      </contributions>
   </extension>
   <extension
         point="org.polymap.service.fs.contentProviders">
      <contentProvider
            class="io.mapzone.controller.api.ApiContentProvider"
            id="io.mapzone.controller.ApiContentProvider"
            name="API">
      </contentProvider>
      <contentProvider
            class="io.mapzone.controller.api.TargetPlatformProvider"
            id="io.mapzone.controller.SdkTargetPlatformProvider"
            name="TargetPlatform">
      </contentProvider>
      <contentProvider
            class="io.mapzone.controller.plugincat.PluginContentProvider"
            id="io.mapzone.controller.PluginContentProvider"
            name="Plugins Catalog">
      </contentProvider>
   </extension>

</plugin>
