<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            brandingId="io.mapzone.arena.branding"
            class="org.polymap.rhei.batik.BatikApplication"
            id="io.mapzone.arena.entrypoint"
            path="/arena">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            id="io.mapzone.arena.branding"
            themeId="org.polymap.rhei.batik.materialDesign"
            title="Arena">
         <additionalHeaders>
            <link
                  href="batikres/css/md/flowtext.css"
                  rel="stylesheet">
            </link>
            <link
                  href="batikres/css/roboto.css"
                  rel="stylesheet">
            </link>
         </additionalHeaders>
      </branding>
   </extension>
   <extension
         point="org.eclipse.rap.ui.themes">
      <themeContribution
            file="resources/css/arena.css"
            themeId="org.polymap.rhei.batik.materialDesign">
      </themeContribution>
   </extension>
   <extension
         point="org.polymap.rhei.batik.design">
      <design
            class="org.polymap.p4.P4AppDesign"
            id="org.polymap.arena.design"
            servletNameMatcher="/arena">
      </design>
   </extension>
   <extension
         point="org.polymap.rhei.batik.panels">
   </extension>

</plugin>
