geojson_dsl/io.mapzone.geojson/bin
geojson_dsl/io.mapzone.geojson/.antlr-generator-3.2.0-patch.jar
geojson_dsl/io.mapzone.geojson.tests/bin
geojson_dsl/io.mapzone.geojson.tests/bin
geojson_dsl/io.mapzone.geojson.ui/bin
