<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.polymap.rhei.batik.panels">
      <panel
            class="io.mapzone.arena.analytics.graph.ui.GraphPanel"
            id="io.mapzone.arena.analytics.graph.ui.GraphPanel">
      </panel>
      <panel
            class="io.mapzone.arena.analytics.graph.ui.SelectedNodePanel"
            id="io.mapzone.arena.analytics.graph.ui.SelectedNodePanel">
      </panel>
   </extension>
</plugin>
