Display {
  rwt-fontlist: 12px Helvetica, Arial, sans-serif;
  /*background-image: url(resources/icons/rap/display/browser_bg.png );*/
  font: 12px Helvetica, Arial, sans-serif;
}
* {
  font: 12px Helvetica, Arial, sans-serif;
  color: #404040;
  background-color: transparent;
  background-image: none;
}
Label.atlas-panel-header {
  font: 14px Helvetica, Arial, sans-serif;
}
Label.batik-panel-section-title {
  font: 22px Helvetica, Arial, sans-serif;
}
Button {
  font: 14px Helvetica, Arial, sans-serif;
}
List-Item {
  padding: 5px 10px 5px 10px;
}
